<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>导出</title>
  <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
</head>
  <body style="font-family:微软雅黑";   >
  <label for="meeting">开始日期：</label><input id="begin" type="date" value=""/>
  <label for="meeting">结束日期：</label><input id="end" type="date" value=""/>

  <button id="exportExcel" class="btn btn-warning">数据导出</button>


  </body>


</html>

<script>

    $("#exportExcel").click(function(){
        var begin =$('#begin').val();
        var end =$('#end').val();
        var url =  "/export?begin="+begin+'&end='+end;
        window.location = url;

    });
</script>
