<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%=title%></title>
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <style>
        .bottom_footer {
            position: fixed; /*or前面的是absolute就可以用*/
            top: 0px;
        }
        body{
            width:100%;
            height:100%;
            overflow:hidden;
           margin:0px;
        }

    </style>
</head>
<body   >
<img id="backimage" src="images/22.png" height="100" width="100" />


<div class="bottom_footer" id="footer">
    <div id="left" style="float:left ;  width:50%;  height:100%;" onclick="jump(2)"></div>
    <div id="right" style="float:left ;  width:50%; height:100%;" onclick="jump(1)"></div>
</div>



</body>
<script type="text/javascript">
    var winHeight = document.documentElement.clientHeight;
    var winWidth = document.documentElement.clientWidth;
$('#backimage').css('height',winHeight);
$('#backimage').css('width',winWidth);

    $('#footer').css('height',winHeight/4);
    $('#footer').css('width',winWidth);
function jump(type){
    var qudao = '<%=qudao%>';
     var title = '<%=title%>';
    window.location.href='http://linzhirong.cn/first?type='+type+'&qudao='+qudao+'&title='+title;
}
</script>
</html>